#AvailableProducts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 1em;
}

.Product-list-hd {
  border-bottom: 1px solid grey;
  padding-bottom: 0.1em;
  margin-top: 5em;
  margin: 1em 4em;
  margin-top: 3em;
  width: 5em;
  text-align: center;
  font-family: "fira sans";
  color: var(--dark-blue-1);
}

@media only screen and (min-width: 700px) {
  .Product-list-hd {
    margin-top: 3em;
  }

  #AvailableProducts {
    padding-right: var(--padding-big-screen);
    padding-left: var(--padding-big-screen);
  }
}
@media only screen and (min-width: 1000px) {
  #AvailableProducts {
    padding-bottom: 8em;
  }
}
