body {
  font-family: "lato,sans-serif;";
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange-1: #f26667;
  --bright-blue: #007bff;
  --dark-blue-1: #113366;
  --dark-blue-2: #10142d;
  --col-1: #e7d8d6;
  --col-2: #f8f8f9;
  --padding-big-screen: 5em;
  --padding-smallest-screen: 1em;
  --padding-small-screen: 2em;
}
